.front-notice {
    padding: 5px 20px;
    color: #666;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.front-header {
    display: flex;
    height: 60px;
    line-height: 60px;
    background-color: #006eff;
}

.front-header-left {
    width: 350px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.front-header-left img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
}

.front-header-left .title {
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.front-header-center {
    flex: 1;
}

.front-header-right {
    padding-right: 20px;
}

.main-content {
    width: 80%;
    margin: 5px auto;
}

/*Element-Plus样式覆盖*/
.el-menu--horizontal {
    border: none !important;
    height: 59px;
}
.el-tooltip__trigger {
    outline: none;
}

.el-menu-item {
    border: none !important;
    background-color: #006eff !important;
    color: white !important;
}
.el-menu--horizontal {
    background-color: #006eff;
}
.el-menu-item {
    border: none !important;
}
.el-menu--horizontal .is-active {
    color: #ffad00 !important;
    font-weight: bold;
}
.el-menu-item:not(.is-active):hover {
    color: #ffad00 !important;
}