<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CaseMapper">

    <select id="selectAll" resultType="com.example.entity.Case">
        select * from `case`
        <where>
            <if test="title != null"> and title like concat('%', #{title}, '%')</if>
        </where>
        order by id desc
    </select>

    <delete id="deleteById">
        delete from `case`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Case" useGeneratedKeys="true">
        insert into `case`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
            <if test="img != null">img,</if>
            <if test="views != null">views,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
            <if test="img != null">#{img},</if>
            <if test="views != null">#{views},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Case">
        update `case`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="views != null">
                views = #{views},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>